html {
  border-left: 10px solid lightgray;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  max-width: 1000px;
}

.header,
.main,
.footer {
  padding: 1rem 2rem;
}


.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header .nav a {
  color: gray;
}

.footer a{
  color: tomato;
  text-decoration: none;
}

.footer-section {
  display: flex;
  justify-content: space-around;
}

.footer-link {
  color: tomato;
}

img {
  width: 100%;
}

.main-title,
.continue {
  color: tomato;
}

.date,
.letter,
.post-body,
.copyright {
  color: gray;
}

.date {
  font-size: 20px;
}

.post-body::first-letter{
  float: left;
  line-height: 85%;
  width: .7em;
  font-size: 400%;
  font-family: georgia;
}

.continue,
.copyright {
  text-align: right;
}
